{% extends 'base.html.twig' %}

{% block title %}Hello visiteur !{% endblock %}
{% block body %}
<h1>Venez leur rendre une p'tite visite !</h1>
    <br>
    <a href="{{ path('app_login') }}"><button>S'inscrire</button></a>
    <a href="{{ path('app_register') }}"><button>Se connecter</button></a>
    <br><br>
    <a href="{{ path('animals_new') }}"><button>Ajouter un animal</button></a>
    <a href="{{ path('mainlands_new') }}"><button>Ajouter un continent</button></a>
    <a href="{{ path('family_new') }}"><button>Ajouter une famille</button></a>
    <a href="{{ path('zoos_new') }}"><button>Ajouter un zoo</button></a>
    <br><br>
    <ul>
    {% for animal in animals %}
        <li>
            <p>{{ animal.name }}</p>
            <img src="{{ asset('images/' ~ animal.picture) }}" alt="{{ animal.name }}" width="150px">
            <p>Dangereux : {% if animal.dangerous == 1 %}Oui{% else %}Non{% endif %}</p>
        

        </li>
        
    {% endfor %}
    </ul>
{% endblock %}
